<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuración Inicial - IMDb List Sync</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='dark-mode.css') }}" rel="stylesheet">
</head>
<body class="bg-dark text-white">
    <div class="container mt-5">
        <h1>Configuración Inicial de IMDb List Sync</h1>
        <form method="post" action="{{ url_for('setup') }}">
            <div class="form-group">
                <label for="redis_ip">Redis IP:</label>
                <input type="text" class="form-control bg-dark text-white" id="redis_ip" name="redis_ip" required>
            </div>
            <div class="form-group">
                <label for="radarr_url">Radarr URL:</label>
                <input type="url" class="form-control bg-dark text-white" id="radarr_url" name="radarr_url" required>
            </div>
            <div class="form-group">
                <label for="radarr_api_key">Radarr API Key:</label>
                <input type="text" class="form-control bg-dark text-white" id="radarr_api_key" name="radarr_api_key" required>
            </div>
            <div class="form-group">
                <label for="sonarr_url">Sonarr URL:</label>
                <input type="url" class="form-control bg-dark text-white" id="sonarr_url" name="sonarr_url" required>
            </div>
            <div class="form-group">
                <label for="sonarr_api_key">Sonarr API Key:</label>
                <input type="text" class="form-control bg-dark text-white" id="sonarr_api_key" name="sonarr_api_key" required>
            </div>
            <div class="form-group">
                <label for="tmdb_api_key">TMDB API Key:</label>
                <input type="text" class="form-control bg-dark text-white" id="tmdb_api_key" name="tmdb_api_key" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Configuración Inicial</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
